[submodule "ranges/external/range-v3"]
	path = ranges/external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "ranges/external/NanoRange"]
	path = ranges/external/NanoRange
	url = https://github.com/tcbrindle/NanoRange.git
[submodule "ranges/external/cmcstl2"]
	path = ranges/external/cmcstl2
	url = https://github.com/CaseyCarter/cmcstl2.git
