[submodule ".external/range-v3"]
	path = .external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule ".external/NanoRange"]
	path = .external/NanoRange
	url = https://github.com/tcbrindle/NanoRange.git
[submodule ".external/cmcstl2"]
	path = .external/cmcstl2
	url = https://github.com/CaseyCarter/cmcstl2.git
[submodule ".external/scripts"]
	path = .external/scripts
	url = https://github.com/ejricha/scripts.git
